body {
    margin: 0;
    padding: 0;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    background-color : #FFD700;
    padding: 20px;
}

.leave-icon {
    position: relative;
    left: 50px
}

.header-links {
    display: flex;
    position: relative;
    left: 350px;
    top: 50px;
    gap: 20px;
}

.profile-icon {
    position: relative;
    top: 20px;
    left: 500px;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6),
                 0 0 30px rgba(255, 255, 255, 0.4);
}

/* FORM */

.container-create-leave {
    position: relative;
    top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create-leave-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid;
    padding: 40px;
    padding-top: 10px;
    width: 500px;
    box-shadow: 3px 3px 3px 3px #888888;
}

.create-leave-box form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.create-leave-box form .input-container input {
    width: 400px;
    height: 30px;
    padding: 5px 5px 5px 40px;
}

.input-container {
    position: relative;
    margin-bottom: 10px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.create-leave-box form button {
    height: 35px;
    border-style: none;
    background-color: #BA0C2F;
    color: white;
    border-radius: 3px;
}




